/* start navigation*/

* {
    margin: 0;
    padding: 0;
}

#header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar {
    padding: 5px 0;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    color: #262626 !important;
}

.nav-item {
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}

.nav-link {
    color: #ccc !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}

.nav-link:hover {
    background: #dcdde1 !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}

.main {
    position: relative;
    background: url(Resources/back.jpeg);
    min-height: 10vh;
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px;
}

.main h2 {
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: bold;
}

.main p {
    margin-top: 1em;
    padding: 0;
    font-size: 16;
    padding-bottom: 25px;
    color: rgb(19, 19, 58);
}

.main .readMore {
    background: #718093;
    color: rgb(8, 35, 190);
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}

.header_area.main-menu.navbar.navbar-brand {
    padding: 0 2rem 0 5rem;
}

header_area.main-menu.navbar {
    padding: 1rem 20rem;
}

.mr-1 {
    margin-right: ($spacer *.25) !important;
}


/* end navigation*/


}